$nice-blue: rgb(59, 128, 209);


//>> Cannabis theme
$cannabis-green: rgb(37, 221, 105);
//
$base-theme-color: $cannabis-green;


body
{
  font-family: Roboto, Arial, sans-serif;
}
#header, #footer { background:$base-theme-color; }

html { background: $base-theme-color;}

h1
{
  font-family: Roboto, Arial, sans-serif;
  font-family:Ubuntu;

 }

 h2
 {
   font-family: Ubuntu;
 }

 h3
 {

 }
 h4{}
 h5{}

 h6 {}

 p
 {
   font-family: Roboto;
 }


//>>>>> SPLASH PAGE

//Banner
.splash #splashtext
{
  background: rgb(193, 95, 214);
}
