$nice-blue: rgb(59, 128, 209);

body
{
  font-family: Roboto, Arial, sans-serif;
}
#header, #footer { background:black; }

html { background: black;}

h1
{
  font-family: Roboto, Arial, sans-serif;
   font-family:Ubuntu;

 }

 h2
 {
   font-family: Ubuntu;
 }

 h3
 {

 }
 h4{}
 h5{}

 h6 {}

 p
 {
   font-family: Roboto;
 }


//>>>>> SPLASH PAGE

//Banner
.splash #splashtext
{
  background: black;
}
